extends ../layout

block body
  .row
    .span12
      .well.well-large
        form.form-horizontal
          legend Editing Server: #{server.name}
          .control-group
            label.control-label Name:
            .controls
              input#name.span4(type='text', value='#{server.name}')
          .control-group
            label.control-label IP:Port:
            .controls
              input#ip.span3(type='text', value='#{server.ip}')
              | :
              input#port.span2(type='text', value='#{server.port}')
              span.help-block Must be numerical e.g. 206.253.166.149
          .control-group
            label.control-label Convenience IP:
            .controls
              input#convenience-ip(type='text', value='#{server.convenienceIp}')
              span.help-block e.g. chi2.pug.na. Optional.
          .control-group
            label.control-label Password:
            .controls
              input#password.span2(type='text', value='#{server.password}')
          .control-group
            label.control-label RCON Password:
            .controls
              input#rcon-password.span2(type='text', value='#{server.rconPassword}')
          .control-group
            label.control-label Configs
            .controls
              input#push-config.span2(type='text', value='#{server.pushConfig}', placeholder='esea_push.cfg')
              | &nbsp;
              input#koth-config.span2(type='text', value='#{server.kothConfig}', placeholder='esea_koth.cfg')
              | &nbsp;
              input#stopwatch-config.span2(type='text', value='#{server.stopwatchConfig}', placeholder='esea_stopwatch.cfg')
              span.help-inline
          .control-group
            .controls
              label.checkbox
                input#is-available(type='checkbox', checked=server.isAvailable)
                | Server Is Available
          .form-actions
            button#save.btn.btn-primary(type="button") Save
            | &nbsp;
            button#delete.btn.btn-danger(type="button") Delete
  script(type="text/javascript")
    $(document).ready(function() {
      $('#save').click(function() {

        var name = $('#name').val().trim();
        var ip = $('#ip').val().trim();
        var port = parseInt($('#port').val().trim(),10);
        var convenienceIp = $('#convenience-ip').val().trim();
        var password = $('#password').val().trim();
        var rconPassword = $('#rcon-password').val().trim();
        var pushConfig = $('#push-config').val().trim();
        var kothConfig = $('#koth-config').val().trim();
        var stopwatchConfig = $('#stopwatch-config').val().trim();
        var isAvailable = $('#is-available').is(":checked");

        $.ajax({
          url: '/admin/servers/#{server._id}',
          type: 'PUT',
          contentType: 'application/json',
          data: JSON.stringify({ server: {
            name: name,
            ip: ip,
            port: port,
            convenienceIp: convenienceIp,
            password: password,
            rconPassword: rconPassword,
            pushConfig: pushConfig,
            kothConfig: kothConfig,
            stopwatchConfig: stopwatchConfig,
            isAvailable: isAvailable
          }})
        }).done(function(msg) {
          if (msg) {
            return document.location.href='/admin/servers';
          }
          alert('Something went wrong.');
        });
      });

      $('#delete').click(function() {
        if (!confirm("Are you sure you want to delete this server?")) return;

        $.ajax({
          url: '/admin/servers/#{server._id}',
          type: 'DELETE'
        }).done(function(msg) {
          if (msg) {
            return document.location.href='/admin/servers';
          }
          alert('Something went wrong.');
        });
      });
    });